extends layouts/main.pug

block content
    .form-container 
        form(action=routes.editProfile, method="post")
            label(for="avatar") Abatar 
            input(type="file", name="avatar",id="avatar", placeholder="avatar")
            input(type="text", name="name",id="name" placeholder="Full name")
            input(type="email",name="email",id="email", placeholder="Email") 
            input(type="password",name="password",id="password", placeholder="password") 
            input(type="password",name="password",id="password", placeholder="Verify password") 
            input(type="submit", value="Update Profile")
           
        include partials/socialLogin
