extends layouts/main.pug
include mixins/videoBlock

block content
    .video 
        each video in videos 
            +videoBlock({
                id : video.id,
                title: video.title,
                videoFile: video.videoFile,
                views: video.views
            })